.animate-801856 {
  animation-name: pulse;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: none;
}
/* :root {
  margin: 30px 20px;
} */
.spacing1 {
  margin-left: 5%;
  margin-right: 5%;
}

.spacing3 {
  margin-left: 20%;
  margin-right: 0%;
}

.fontButton {
  font-size: 10px;
  color: white;
}
.marginleft {
  margin-left: 20%;
}
.spacingforsearch {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-top: 10%;
}
.spacing2 {
  margin-left: 25%;
  margin-right: 0%;
}
.defaultspacing {
  margin: 5%;
  padding: 5%;
}
.bgcoloradmin {
  background-color: white;
  flex: 1;
}
.top {
  margin-top: 20%;
}

form {
  font-size: 20px;
  color: blue;
}

.react-tabs__tab-list {
  background-color: white;
  margin: ;
}
div.myClass {
  margin: 20% 35%;
  height: 300px;
  width: 45%;
}
div.auth-inner {
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Right*/
