.animate-801856 {
  animation-name: pulse;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: none;
}
:root {
  margin: 30px 20px;
}
.spacing1 {
  margin-left: 5%;
  margin-right: 5%;
}

.spacing3 {
  margin-left: 20%;
  margin-right: 0%;
}

.fontButton {
  font-size: 10px;
  color: white;
}
.marginleft {
  margin-left: 20%;
}
.spacingforsearch {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-top: 10%;
}
.spacing2 {
  margin-left: 25%;
  margin-right: 0%;
}
.defaultspacing {
  margin: 5%;
  padding: 5%;
}
.bgcoloradmin {
  background-color: white;
  flex: 1;
}
.top {
  margin-top: 20%;
}

form {
  font-size: 20px;
  color: blue;
}
