.animate-801856 {
  animation-name: pulse;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: none;
}
/* :root {
  margin: 30px 20px;
} */
.spacing1 {
  margin-left: 5%;
  margin-right: 5%;
}

.spacing3 {
  margin-left: 20%;
  margin-right: 0%;
}

.customcontainer {
  height: 600px;
  width: 100px;
}
.fontButton {
  font-size: 10px;
  color: white;
}
.marginleft {
  margin-left: 20%;
}
.spacingforsearch {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-top: 10%;
}
.spacing2 {
  margin-left: 25%;
  margin-right: 0%;
}
.defaultspacing {
  margin: 5%;
  padding: 5%;
}
.bgcoloradmin {
  background-color: white;
  flex: 1;
}
.top {
  margin-top: 20%;
}

form {
  font-size: 20px;
  color: blue;
}

.react-tabs__tab-list {
  background-color: white;
  margin: ;
}
div.myClass {
  margin: auto;
  height: 300px;
  width: 45%;
}

.customButton {
  margin-left: 100px;
}

.modal.right .modal-dialog {
  position: absolute;
  margin: auto;
  width: 1500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
div#react-tabs-1 {
  background-color: #ffffff;
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

button.sc-iCoGMd.dFFDVS {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

/*Right*/

.alignnerRight {
  float: right;
}
.admin-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.admin-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.admin-inner {
  /* width: 450px; */
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
  transition: all 0.3s;
  padding: 5%;
  margin: 0;
}

.admin-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.admin-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
a.navbar-brand.fs-1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif;
}

/* animation */

#myModal2 > .modal-dialog > .modal-content {
  animation: fadeBigInDown 3500ms both;
}
@keyframes fadeBigInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.admin > div > div {
  animation: rotateInRight 4000ms both;
}

.App > .admin > .navbar {
  animation: zoomInRight 2800ms both;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes rotateInRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
form > .auth-wrapper > .auth-inner {
  animation: slideInLeft 2900ms both;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.App > form > .navbar {
  animation: vanishIn 3400ms both;
}

@keyframes vanishIn {
  0% {
    opacity: 0;
    transform: scale3d(2, 2, 2);
    filter: blur(90px);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    filter: blur(0px);
  }
}
